

$link: white;

body {
    background-color: grey;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.section {
    background-color: white;
}
    

@import '../node_modules/bulma/bulma.sass';